@model IEnumerable<Eticaret.Models.Artist>

@{
	ViewData["Title"] = "Sanatcilar";
}

<h2>Sanatcilar</h2>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<a asp-action="Detay" asp-controller="Home" asp-route-id="@item.ArtistId">
						@Html.DisplayFor(modelItem => item.Name)
					</a>
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.ArtistId">Edit</a> |
					<a asp-action="Delete" asp-route-id="@item.ArtistId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>